.text-primary {
  --tw-text-opacity: 1;
  color: rgb(58 126 255 / 1);
}
.shadow-card7,
.shadow-cardPlan {
  --tw-shadow: 0px 2px 10px 0px rgba(0, 57, 89, 0.14);
  --tw-shadow-colored: 0px 2px 10px 0px var(--tw-shadow-color);
}
.shadow-card7,
.shadow-cardPlan,
.shadow-icon {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
