.bg {
  background-image: url('https://is1-ssl.mzstatic.com/image/thumb/Purple116/v4/20/ee/17/20ee170e-b8d6-2d43-4dc5-8d50d7fe4b78/AppIcon-0-0-1x_U007emarketing-0-0-0-6-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/246x0w.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
